<div class="row course_info">
  <div class="col-3">
    <%= image_tag Settings.pic_url, alt: @course.name, class: "card-img-top info-img" %>
    <div class="social-share-wrap">
      <%= render "shared/social_sharing" %>
    </div>
  </div>
  <div class="col-9 d-flex flex-column bd-highlight mb-3">
    <h2 class="p-2 bd-highlight">
      <span class="badge <%= @course.status %>"><%= t @course.status %></span>
      <%= @course.name %>
    </h2>
    <div class="p-2 bd-highlight">
      <%= "#{t "expected_time"}: #{@course.start_time.strftime Settings.date_format}-#{@course.estimated_end_time.strftime Settings.date_format}" %>
    </div>
    <% if @course.finish_time %>
      <div class="p-2 bd-highlight">
        <%= "#{t "finished_time"}: #{@course.finish_time.strftime Settings.date_format}" %>
      </div>
    <% elsif @course.supervisors.include? current_user %>
      <div class="me-auto p-2 bd-highlight d-flex align-items-end">
        <div class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#courseFormModal">
          <%= t "edit" %>
        </div>
      </div>
      <div class="me-auto p-2 bd-highlight d-flex align-items-end">
        <%= form_for @course, url: finish_course_path(@course) do |f| %>
          <%= f.hidden_field :finish_time, value: Time.zone.now %>
          <%= f.submit t("courses.finish.finish_submit"), class: "btn btn-success", data: {:confirm => t("courses.finish.confirm")} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
