<div class="modal fade" id="subjectCreateFormModal" tabindex="-1" aria-labelledby="subjectCreateFormModalLabel" aria-hidden="true">
  <%= form_for @subject, remote: true do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subjectCreateFormModalLabel"><%= t ".title" %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="subjectCreateFormErrors">
            <%= render partial: "shared/error_messages", locals: {object: @subject} %>
          </div>
          <%= f.hidden_field :course_id, value: @course.id %>
          <%= f.label :name, t(".subject_name"), class: "required" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :description, t(".subject_description") %>
          <%= f.text_area :description, class: "form-control" %>
          <%= f.label :start_time, t(".subject_start_time"), class: "required" %>
          <%= f.date_field :start_time, class: "form-control" %>
          <%= f.label :length, t(".subject_length"), class: "required" %>
          <%= f.number_field :length, class: "form-control", only_integer: true %>
        </div>    
        <div class="modal-footer">
          <%= f.submit t(".create_submit"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
