<tr class="subjects">
  <td><%= link_to subject.name, subject_path(subject.id), class: "btn btn-info" %></td>
  <td><%= subject.description %></td>
  <td><%= subject.length %></td>
  <% if current_user.role_supervisor? %>
    <td> 
      <%= link_to "#", class: "text-muted", "data-mdb-toggle":"tooltip", title: t("subjects.index.created_at") do %>
        <p class="small mb-0">
          <i class="fas fa-info-circle me-2"></i>
          <%= subject.start_time.strftime Settings.date_format %>
        </p>
      <% end %>
    </td>
    <td>  
      <%= link_to edit_subject_path(subject.id) , class: "text-info", "data-mdb-toggle":"tooltip",
          title: t("subjects.index.edit") do %>
        <i class="fas fa-pencil-alt me-3"></i>
      <% end %>
      <%= link_to subject, method: :delete, data: {confirm: t("subjects.delete_confirm")}, class: "text-danger",
          "data-mdb-toggle":"tooltip", title: t("subjects.index.delete") do %>
        <i class="fa fa-trash-alt me-3"></i>
      <% end %>
    <% end %>
  </td>
</tr>
