<div class="subject-container">
  <h3><%= t ".subject_list" %></h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".description" %></th>
        <th scope="col"><%= t ".length" %></th>
        <th scope="col"><%= t ".time" %></th>
        <th scope="col"><%= t ".action" %></th>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
  <%= paginate @subjects, theme: "bootstrap-5" %>
</div>
