<div class="col-sm-12 col-md-6 col-xl-4 align-self-stretch mt-3 mb-3">
  <%= link_to course do %>
    <div class="card">
      <%= image_tag Settings.pic_url, alt: course.name, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= course.name %>
        </h5>
        <p class="card-text crop">
          <%= course.description %>
        </p>
        <span class="badge <%= course.status %>">
          <%= t course.status %>
        </span>
      </div>
      <div class="card-footer text-muted">
        <%= t "activerecord.course.start_time" %> :
        <%= course.start_time.strftime Settings.date_format %>
      </div>
    </div>
  <% end %>
</div>
