<div class="subject-container">
  <h3><%= t "courses.show.subject_list" %></h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "courses.show.name" %></th>
        <th scope="col"><%= t "courses.show.description" %></th>
        <th scope="col"><%= t "courses.show.length" %></th>
        <th scope="col"><%= t "courses.show.time" %></th>
        <th scope="col"><%= t "courses.show.action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
  <%= paginate @subjects, theme: "bootstrap-5" %>
  <section>
    <%= render "subjects/subject_form" %>
  </section>
</div>
