<div class="row course_info">
  <div class="col-3">
    <%= image_tag Settings.pic_url, alt: @course.name, class: "card-img-top" %>
  </div>
  <div class="col-9 d-flex flex-column bd-highlight mb-3">
    <h2 class="p-2 bd-highlight">
      <span class="badge bg-info text-dark"><%= @course.status %></span>
      <%= @course.name %>
    </h2>
    <div class="p-2 bd-highlight">
      <%= "#{t ".expected_time"}: #{@course.start_time.strftime Settings.date_format}-#{@course.estimated_end_time.strftime Settings.date_format}" %>
    </div>
    <div class="me-auto p-2 bd-highlight d-flex align-items-end">
      <%= link_to t(".edit"), edit_course_path(@course), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-subjects-tab" data-bs-toggle="tab" data-bs-target="#nav-subjects"
    type="button" role="tab" aria-controls="nav-subjects" aria-selected="true">
      <%= t ".subjects"%>
    </button>
    <button class="nav-link" id="nav-trainees-tab" data-bs-toggle="tab" data-bs-target="#nav-trainees"
    type="button" role="tab" aria-controls="nav-trainees" aria-selected="false">
      <%= t ".trainees"%>
    </button>
    <button class="nav-link" id="nav-supervisors-tab" data-bs-toggle="tab" data-bs-target="#nav-supervisors"
    type="button" role="tab" aria-controls="nav-supervisors" aria-selected="false">
      <%= t ".supervisors"%>
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-subjects" role="tabpanel" aria-labelledby="nav-subjects-tab">
    <%= render partial: "subjects_list", locals: {subjects: @subjects} %>
  </div>
  <div class="tab-pane fade course-details" id="nav-trainees" role="tabpanel" aria-labelledby="nav-trainees-tab">
    <%= render partial: "users_list", locals: {users: @enrollments, list_name: t(".trainees_list"), path: enrollments_path,
    button_text: t(".add_trainee"), body_id: "trainees_tb_body"} %>
  </div>
  <div class="tab-pane fade course-details" id="nav-supervisors" role="tabpanel" aria-labelledby="nav-supervisors-tab">
    <%= render partial: "users_list", locals: {users: @supervisions, list_name: t(".supervisors_list"), path: supervisions_path,
    button_text: t(".add_supervisor"), body_id: "supervisors_tb_body"}%>
  </div>
</div>
