<div id="courseInfo">
  <%= render "shared/course_info" %>
</div>
<%= render "shared/tab_header" %>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-subjects" role="tabpanel" aria-labelledby="nav-subjects-tab">
    <%= render partial: "subjects_list", locals: {subjects: @subjects} %>
  </div>
  <div class="tab-pane fade course-details" id="nav-trainees" role="tabpanel" aria-labelledby="nav-trainees-tab">
    <%= render partial: "users_list", locals: {users: @enrollments, list_name: t("trainees_list"), path: enrollments_path,
    button_text: t(".add_trainee"), body_id: "trainees_tb_body", is_trainees: true} %>
  </div>
  <div class="tab-pane fade course-details" id="nav-supervisors" role="tabpanel" aria-labelledby="nav-supervisors-tab">
    <%= render partial: "users_list", locals: {users: @supervisions, list_name: t("supervisors_list"), path: supervisions_path,
    button_text: t(".add_supervisor"), body_id: "supervisors_tb_body", is_trainees: false} %>
  </div>
</div>

<%= render partial: "form", locals: {name: "#{t ".edit"} #{@course.name}", button_text: t(".edit")} %>
