<div class="row course_info">
  <div class="col-3">
    <%= image_tag Settings.pic_url, alt: @course.name, class: "card-img-top" %>
  </div>
  <div class="col-9 d-flex flex-column bd-highlight mb-3">
    <h2 class="p-2 bd-highlight">
      <span class="badge bg-info text-dark"><%= @course.status %></span>
      <%= @course.name %>
    </h2>
    <div class="p-2 bd-highlight">
      <%= "#{t ".expected_time"}: #{@course.start_time.strftime Settings.date_format}-#{@course.estimated_end_time.strftime Settings.date_format}" %>
    </div>
    <div class="me-auto p-2 bd-highlight d-flex align-items-end">
      <%= link_to t(".edit"), edit_course_path(@course), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="subject-container">
  <h3>
    <%= t ".subject_list" %>
    <%= @course.name %>
  </h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".description" %></th>
        <th scope="col"><%= t ".length" %></th>
        <th scope="col"><%= t ".time" %></th>
        <th scope="col"><%= t ".action" %></th>
    </thead>
    <tbody>
      <%= render @subjects %>
    </tbody>
  </table>
  <%= paginate @subjects, theme: "bootstrap-5" %>
  <section class="subject-form center_div">
    <%= render "subjects/subject_form" %>
  </section>
</div>
